[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HIPPO"]
	path = HIPPO
	url = https://github.com/tk382/hippo
[submodule "MMVBVS"]
	path = MMVBVS
	url = https://github.com/tk382/mmvbvs
